node_modules/
exe/
installer/*.exe
installer/*.zip
installer/*.tar.gz
installer/*.yml
installer/*.yaml
installer/*.blockmap
installer/win-unpacked/
installer/linux-unpacked/
installer/mac-unpacked/
installer/__appImage-x64/
installer/builder-debug.yml
installer.log
settings.json
.vscode/
icon-base64.txt
icons/profile-icon-base64.txt
*.zip
_check.js
_code_temp/
debug_check.js
debug_full.js
test_actual_line.js
UsersSANDRA~1.STOAppDataLocalTempopencodecheck6.js
